/*
Colors used:
Primary Text Color (Blue): #4262D7;
Link Visited Color (Blue 75%): #6A82DA;
*/

/* Typography */
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;

  /* regular */
  line-height: 1.4;
  margin: 0 auto;
}

h1 {
  font-family: 'Blenny', sans-serif;
  font-size: 4.209em;
  line-height: 1;
  margin: 80px auto 10px;
  position: relative;
  padding-top: 50px;
}

.opening {
  padding-top: 50px;
  max-width: 390px;
  margin: 0 auto;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin: 15px 0 0;
}

.mission-statement {
  margin: 30px auto 60px;
}

.mission-statement h2 {
  font-family: 'Blenny', sans-serif;
  font-size: 2.3em;
}

h3 {
  font-size: 1.383em;
  font-weight: 600;
  line-height: 1;
  margin: 40px 0 10px;
}

.h3-intro {
  font-size: 1.424em;
  margin: 20px auto 170px;
  font-weight: 500;
  position: relative;
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
  margin: 20px 0 5px;
}

.plus-top-margin {
  margin-top: 40px;
}

p {
  margin: 10px auto;
}

sup {
  font-size: 0.75em;
  color: #4262d7;
}

.white-text {
  color: #fff;
}

.font-weight-bold {
  font-weight: 700;
}

/* Images */
img,
.css-animation {
  width: 100%;
  margin: 20px 0;
  display: block;
}

#work img {
  width: 100%;
  height: auto;
  margin: 15px 0;
  display: block;
}

.padded-img {
  padding: 0 15px;
}

/* Links */
a {
  color: #4262d7;
  text-decoration: none;
}

a:visited {
  color: #4262d7;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #4262d7;
  text-decoration: underline;
}

a:active {
  color: #b6ea82;
  text-decoration: none;
}

.button {
  display: inline-block;   /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #4262d7;
  color: #fff;
  font-weight: 400;
  padding: 9px 16px 8px;
  border-radius: 20px;
  transition: 0.3s opacity;
}

.button:visited {
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #0a33c6;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logo:hover,
.logo:focus {
  opacity: 0.65;
  text-decoration: none;
  transition: 0.3s opacity;
}

.logo-social:hover,
.logo-social:focus {
  transition: 0.3s opacity;
  fill: #0a33c6;
  cursor: pointer;
}

/* Layout Styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

#header {
  margin-top: 0;
  background-color: #fff;
  width: 100%;
  position: fixed;
  box-shadow: 4px 4px 5px -1px rgba(50, 50, 50, 0.29);
}

.logo {
  max-width: 35px;
  display: inline-block;
  padding-top: 5px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding: 25px 0 0;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  text-align: right;
}

.navtoggle.responsive li {
  padding: 5px 0;
}

nav > ul > li > a {
  padding: 0 13px;
  text-transform: uppercase;
  font-weight: 500;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #4262d7;
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #b6ea82;
  text-decoration: underline;
}

main {
  padding-top: 75px;
}

#hero {
  display: inline-block;
  text-align: center;
  width: 100%;
  background-image: url("../img/logos/portfolio-bg@2x.png");
  background-color: #fff;
  background-position: center;
  background-repeat: repeat-x;
  background-size: 320px auto;
  position: relative;
  z-index: -1;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work .container {
  margin-top: 80px;
}

#work .row:last-child {
  border-bottom: 0;
}

#contact {
  padding-top: 30px;
  display: block;
  background-color: #f3f5fd;
}

.copyright {
  font-size: 0.7em;
  text-align: left;
  padding: 0 0 5px 5px;
  margin: 0 auto;
}

.logo-social {
  display: inline-block;
  margin: 10px auto 20px;
  max-width: 48px;
  max-height: 48px;
}

.button.contact {
  margin: 10px auto 30px;
}

/* About Page Layout Styling */
#about {
  display: block;
}

#about h2 {
  font-family: 'Blenny', sans-serif;
  color: #4262d7;
  font-size: 2.3em;
}

ul {
  margin: 10px 0;
}

.first {
  margin-top: 0;
}

.headshot {
  max-width: 300px;
}

.button-resume {
  display: inline-block;
  margin: 20px 0;
}

/* Project Page Layout Styling */
#project,
#project-breeze,
#project-festivity {
  display: block;
  text-align: left;
}

.section,
.section-last {
  margin: 50px auto;
}

.section-last {
  margin-bottom: 0;
}

#clad.section:first-child {
  margin-bottom: 0;
}

.black-bg {
  background-color: #3b3b3b;
  border-radius: 15px;
  padding: 1px 15px 20px;
}

#project-festivity .black-bg {
  padding: 8px;
  margin-top: 20px;
  background-color: #17181a;
  border-radius: 5px;
}

.center,
.center-plus-top-margin,
.center-plus-bottom-padding {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-plus-top-margin {
  margin-top: 40px;
}

.center-plus-bottom-padding {
  padding-bottom: 40px;
}

.details > h4,
.details-tools > h4,
.details > p,
.details > svg {
  display: inline-block;
  margin-top: 0;
}

.tools {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
  margin-left: 10px;
}

.details-tools {
  margin-bottom: 0;
  align-content: center;
}

.inline-block {
  display: inline-block;
}

.right-align {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.left-align {
  text-align: left;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-top {
  align-items: flex-start;
}

.max-width-250 {
  max-width: 250px;
  height: auto;
}

.width-75percent {
  width: 75%;
}

.no-margin-img,
.no-margin-icon {
  margin: 0;
  padding: 0;
}

.rise-bg {
  background-color: #f8f8f8;
  margin-top: 10px;
}

/* Media Queries */

/*
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main.background {
    padding-top: 150px;
  }

  header {
    text-align: unset;
  }

  header .container {
    z-index: 9999;
  }

  .logo {
    float: left;
    margin-left: 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero {
    background-size: 350px auto;
    margin: 20px 0;
  }

  .opening {
    max-width: 600px;
    margin: 0 auto;
  }

  .mission-statement {
    margin: 150px auto;
  }

  body {
    font-size: 18px;
  }

  h2 {
    font-size: 1.802em;
  }

  .p-intro {
    max-width: 640px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5,
  .col-md-5-reverse {
    width: 41.66%;
  }

  .col-md-6,
  .col-md-6-reverse {
    width: 50%;
  }

  .col-md-7,
  .col-md-7-reverse {
    width: 58.33%;
  }

  .col-md-8,
  .col-md-8-reverse {
    width: 66.66%;
  }

  .col-md-5-reverse {
    order: 1;
  }

  .col-md-6-reverse,
  .col-md-7-reverse,
  .col-md-8-reverse {
    order: -1;
  }

  [class*="col-"] {
    float: left;
    padding: 20px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work footer {
    text-align: center;
  }

  footer .container {
    max-width: 100%;
  }

  #work .row,
  #project .row,
  #project-breeze .row {
    margin: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #project .row .align-top {
    align-items: flex-start;
  }

  #work img {
    filter: grayscale(60%);
  }

  #work img:hover {
    filter: grayscale(0%);
  }

  #about .row {
    margin: 40px auto;
  }

  #about h2,
  #about h3,
  #contact {
    text-align: center;
  }

  #about h4 {
    margin: 0 auto;
  }

  .resume {
    display: flex;
    justify-content: center;
  }

  a.button-resume {
    margin: 0 auto 20px;
  }

  .headshot {
    float: left;
    margin: 0 12px 12px 0;
  }

  #project .container,
  #about .container,
  #project-festivity .container,
  #project-breeze .container {
    padding: 0 50px;
  }

  #about .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin: 60px auto;
  }

  #project-festivity img,
  #project-breeze img,
  #project img {
    margin: 30px auto 50px;
  }

  #project-festivity .row img,
  #project-breeze .row img,
  #project .row img {
    margin-bottom: 30px;
  }

  #project-festivity img.final-screen,
  #project-breeze img.final-screen {
    max-width: 200px;
    height: auto;
    margin: 10px auto;
  }

  #project img.final-screen {
    width: 100%;
    max-width: 180px;
    margin: 10px auto;
  }

  #project-festivity .black-bg {
    margin-top: 30px;
    padding: 16px;
  }

  .md-width-75percent {
    max-width: 75%;
  }

  .final-screen {
    width: 100%;
    max-width: 150px;
    margin: 10px auto;
  }

  .section-last picture {
    vertical-align: top;
  }

  .float-right {
    float: right;
  }

  .text-align-right {
    text-align: right;
  }

  .top-margin-35 {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .max-width-150 {
    max-width: 150px;
    height: auto;
  }

  .max-width-400 {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  #project img.max-height-450 {
    max-height: 450px;
    width: auto;
  }

  .max-height-550 {
    max-height: 550px;
    width: auto;
  }

  .no-margin-img,
  #project .no-margin-img img,
  #project-breeze .no-margin-img img,
  #project-festivity .no-margin-img img,
  .no-margin-img-lg {
    margin: 0;
    padding: 0;
  }

  .no-margin-icon {
    padding: 0 5px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .center-md {
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7,
  .col-lg-7-reverse {
    width: 58.33%;
  }

  .col-lg-8,
  .col-lg-8-reverse {
    width: 66.66%;
  }

  .col-lg-8-reverse {
    order: -1;
  }

  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  #header.container {
    max-width: 100%;
  }

  .section {
    margin: 100px auto;
  }

  #about.section {
    margin: 80px auto;
  }

  .resume {
    margin-bottom: 10px;
  }

  #project-festivity img,
  #project img {
    margin: 50px auto;
  }

  img.first {
    margin-top: 20px;
  }

  #project-festivity img.final-screen,
  #project-breeze img.final-screen {
    width: 100%;
    max-width: 250px;
  }

  .center-plus-top-margin {
    margin-top: 50px;
  }

  .center-plus-bottom-padding {
    padding-bottom: 50px;
  }

  .max-height-550 {
    max-height: 600px;
    width: auto;
  }

  .max-height-350 {
    max-height: 550px;
    width: auto;
  }

  .max-width-250 {
    max-width: 350px;
    height: auto;
  }

  .lg-justify-center {
    justify-content: center;
  }
}

@media screen\0 {
  #hero {
    padding-top: 75px;
    background-color: green;
  }
}
