/*
Colors used:
Primary Text Color (Blue): #4262D7;
Link Visited Color (Blue 75%): #6A82DA;
*/

/*Typography*/
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;  /* regular */
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-family: 'Blenny', catamaran;
  font-size: 4.209em;
  color: #4262D7;
  line-height: 1.0;
}

h2 {
  font-size: 1.953em; /* ~31px */
  font-weight: 700 /* bold */
}

h3 {
  font-size: 1.563em; /* ~25px */
  font-weight: 600; /* semi-bold */
}

h4 {
  font-size: 1.2em; /* ~19px */
  font-weight: 600; /* medium */
}

.intro {
  font-size: 1.2em;
}

sup {
  font-size: 0.8em;
  color: #4262D7;
}


/*Images*/
img {
  width: 100%;
}

/*Links*/
a {
  color: #4262D7;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #4262D7;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #B6EA82;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 500;
  padding: 7px 14px 7px 14px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  color: #ffffff;
  opacity: 0.65; /* Reduces the opacity of the button to 80% */
  text-decoration: underline;
}

.button-contact, .button-resume {
  background-color: #4262D7;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  margin: 10px 0;
  border-radius: 6px;
  text-transform: uppercase;
}

.button-contact:hover, .button-resume:hover,
.button-contact:focus, .button-resume:focus {
  color: #ffffff;
  opacity: 0.65;
  text-decoration: underline;
}

.button-contact:visited, .button-resume:visited{
  color: #ffffff;
  opacity: 0.65;
  text-decoration: none;
}

.logo:hover, .logo-social:hover,
.logo:focus, .logo-social:focus {
  opacity: 0.65;
  text-decoration: none;
}

/*Layout Styling*/

* {
  box-sizing: border-box;
}

.container {
  padding: 0 12px;
}

header {
  padding: 10px 0px 0px 0px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  box-shadow: 4px 4px 5px -1px rgba(50, 50, 50, 0.29);
}

.logo {
  max-height: 50px;
  margin: 0 auto;
  display: block;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #4262D7;
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #B6EA82;
  text-decoration: underline;
}

main {
  padding-top: 103px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px
  solid #4a4a4a;
 }

#contact {
  padding-top: 20px;
  display: block;
  background-color: #EBEBEB;
}

.copyright {
  font-size: 0.8em;
  text-align: left;
  margin: 0;
}

.button-contact, .logo-social {
   display: inline-block;
   margin: 10px 0;
 }
.logo-social {
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 30px;
}

/* About Page Layout Styling*/

#about {
  display: block;
}

h2 {
  margin: 20px 0px;
}

h3, h4, ul {
  margin: 10px 0;
}

.first {
  margin-top: 5px;
}

.headshot {
  max-width: 200px;
}

.button-resume {
  display: inline-block;
  margin: 20px 0;
}

/*Project Page Layout Styling*/

#project {
  display: block;
  text-align: left;
}

.section {
  margin-top: 30px;
}

.details > h4, .details >p {
  display: inline-block;
}

.tools {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
  margin: 0 5px;
}

.inline {
  display: inline-block;
}
