/*
Colors used:
Primary Text Color (Blue): #4262D7;
Link Visited Color (Blue 75%): #6A82DA;
*/


/*Typography*/
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;  /* regular */
  line-height: 1.4;
  margin: 0 auto;
}

h1 {
  font-family: 'Blenny', catamaran;
  font-size: 4.209em;
  color: #4262D7;
  line-height: 1.0;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.953em; /* ~31px */
  font-weight: 700; /* bold */
  margin: 15px 0px 0px 0px;
}

h3 {
  font-size: 1.563em; /* ~25px */
  font-weight: 600; /* semi-bold */
  line-height: 1.0;
  margin: 20px 0px 10px 0px;
}

h4 {
  font-size: 1.2em; /* ~19px */
  font-weight: 600; /* medium */
  margin: 20px 0px 5px 0px;
}

p {
  margin: 10px auto;
}

.intro {
  font-size: 1.2em;
}

sup {
  font-size: 0.8em;
  color: #4262D7;
}

.white-text {
  color: #FFFFFF;
}

.font-weight-bold {
  font-weight:700;
}

/*Images*/
img {
  width: 100%;
  margin: 15px 0;
  display: block;
}

.padded-img {
  padding: 0 15px;
}
/*Links*/
a {
  color: #4262D7;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #4262D7;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #B6EA82;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 500;
  padding: 7px 14px 7px 14px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  color: #ffffff;
  opacity: 0.65; /* Reduces the opacity of the button to 80% */
  text-decoration: underline;
}

.button-contact, .button-resume {
  background-color: #4262D7;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  margin: 10px 0;
  border-radius: 6px;
  text-transform: uppercase;
}

.button-contact:hover, .button-resume:hover,
.button-contact:focus, .button-resume:focus {
  color: #ffffff;
  opacity: 0.65;
  text-decoration: underline;
}

.button-contact:visited, .button-resume:visited{
  color: #ffffff;
  opacity: 0.65;
  text-decoration: none;
}

.logo:hover, .logo-social:hover,
.logo:focus, .logo-social:focus {
  opacity: 0.65;
  text-decoration: none;
}

/*Layout Styling*/

* {
  box-sizing: border-box;
}

.container {
  padding:0 12px;
}

#header {
  text-align: center;
  margin-top: 0;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  box-shadow: 4px 4px 5px -1px rgba(50, 50, 50, 0.29);
}

.logo {
  max-height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  display: block;
}

nav {
  display: inline-block;
  align-items: center;
}

nav > ul {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #4262D7;
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #B6EA82;
  text-decoration: underline;
}

main {
  padding-top: 102px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px
  solid #4a4a4a;
 }

.greyscale {
  filter: grayscale(50%);
}

.greyscale:hover
.greyscale:focus {
  filter: grayscale(0%);
}

#contact {
  padding-top: 20px;
  display: block;
  background-color: #F5FFEA;
}

.copyright {
  font-size: 0.8em;
  text-align: left;
  margin: 0;
}

.button-contact, .logo-social {
   display: inline-block;
   margin: 10px 0;
 }
.logo-social {
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 30px;
}

/* About Page Layout Styling*/

#about {
  display: block;
}

ul {
  margin: 10px 0;
}

.first {
  margin-top: 0;
}

.headshot {
  max-width: 200px;
}

.button-resume {
  display: inline-block;
  margin: 20px 0;
}

/*Project Page Layout Styling*/

#project, #project-breeze, #project-festivity {
  display: block;
  text-align: left;
}

#project-breeze {
  background-color: #EDF2F2;
}

#project-festivity {
    background-image: linear-gradient(black,grey);
}

.section, .section-last {
  margin: 40px auto;
}

.section-last {
  margin-bottom: 0;
}

.section-black {
  background-color: #3B3B3B;
  border-radius: 15px;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.details > h4, .details > p, .details > svg {
  display: inline-block;
  margin-top: 0;
}

.tools {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
  margin: 0px 5px;
}

.inline-block {
  display: inline-block;
}

.right-align {
  text-align: right;
  margin-top: 20px;
}

 .final-screen{
  width: 75%;
  margin: 0 auto;

}
